.footer__author {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;  
    -moz-text-size-adjust: 100%;  
    text-rendering: optimizeLegibility;  
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: right;
    margin: 40px 20px 40px 0;
}
@media screen and (max-width: 590px)
{
    .footer__author {
        text-align: right;
        margin: 0 20px 40px 0;
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (max-width: 520px)
{
    .footer__author {
        text-align: left;
        margin: 0 0 30px 20px;
    }
}