.header__text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;  
    -moz-text-size-adjust: 100%;  
    text-rendering: optimizeLegibility;  
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: black;
    text-decoration: none;

}
@media screen and (max-width: 1032px)
{
    .header__text {
        font-size: 13px;
        line-height: 14px;
    }
}
@media screen and (max-width: 790px)
{
    .header__text {
        font-size: 10px;
        line-height: 12px;
    }
}
@media screen and (max-width: 420px)
{
    .header__text {
        font-size: 7px;
        line-height: 9px;
    }
}
@media screen and (max-width: 330px)
{
    .header__text {
        font-size: 5px;
        line-height: 7px;
    }
}