.footer {
    background-color: #1f1f1f;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 590px)
{
    .footer {
        flex-direction: column;
        justify-content: flex-start;
    }
}